* {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.nav {
    display: inline-block;
    background-color: black;
    width: 100%;
}

.nav a {
    margin: 20px;
    padding: 14px 16px;
    border: 2px solid black;
    text-align: center;
    font-size: 15px;
    color: blue;
}

.nav a:hover {
    color: green;
}

.nav a:active {
    color: red;
}

img {
    display: block;
    margin: auto;
    height: 200px;
    width: 700px;
}

.description {
    margin: 50px;
}

.chili {
    display: block;
    height: 210px;
    width: 210px;
    margin: 20px;
}

h1 {
    margin: 30px 0;
    text-align: center;
    font-size: 38px;
    color: black;
}
